<!DOCTYPE html>
<html>
<head>
	<title>Template</title>

	<link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body>

	<!-- HEADER --> 
	<header>
		<nav>
			<img id="logo" src="images/logo.png">
			<h3 class="menu">A propos</h3>
			<h3 class="menu">Produits</h3>
			<h3 class="menu">Contacts</h3>
		</nav>
	</header>

	<!-- ACCUEIL --> 

	<div id="accueil">
		<h1 id="accueil-titre">NOM DE LA SOCIETE</h1>
		<h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit..."</h2>
	</div>

	<!-- A PROPOS --> 

	<div id="a-propos">
		<div id="a-propos-contenu">
			<div id="illustration1"></div>
			<div id="a-propos-texte">
				<h3>A propos</h3>
				<br>
				<h4>Neque porro quisquam est qui dolorem ipsum quia dolor sit. Neque porro quisquam est qui dolorem ipsum quia dolor sit. Neque porro quisquam est qui dolorem ipsum quia dolor sit.<br>Neque porro quisquam est qui dolorem ipsum quia dolor sit...</h4>
			</div>
		</div>
	</div>


	<!-- FOOTER --> 

	<footer>
		<div id="footer-contacts">
			<p>Numéro de téléphone</p>
			<p>Adresse Email</p>
		</div>
		<div id="footer-adresse">
			<p>Adresse postale</p>
		</div>
		<div id="footer-mentions">
			<p>Mentions Légales</p>
		</div>
	</footer>

</body>
</html>