
body
{
	background-image: url(images/accueil-fond.jpg); 
	background-size: cover;
	background-attachment: fixed; 
	background-position: center;
	margin: 0;
}

h1, h2, h3
{
	font-family: 'Rock Salt', cursive;
	font-weight: bolder;
}

p
{
	font-size: 1em;
}

h4
{
	font-size: 1.2em;
	line-height: 2em;
}

h3
{
	font-size: 1.6em;
}

h2
{
	font-size: 2.2em;
}

h1
{
	font-size: 3em;
}

nav, #logo
{
	height: 18vh;
}

nav
{
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	background-color: white;
}

footer
{
	height: 18vh;
	background-color: white;
}

#footer-contacts
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#footer-adresse
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#accueil
{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-content: center;
	padding: 20vh 60px 2vh 60px;
	color: white;
}

#accueil-titre
{
	margin-bottom: 60px;
}

#a-propos
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 82vh;
	background-color: rgb(24, 24, 24);
}

#a-propos-contenu
{
	height: 62vh;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
}

#illustration1
{
	background-image: url(images/illustration1.jpg);
	background-size: cover;
	background-position: center;
	height: 62vh;
	width: 40vw;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 5px white;
}

#a-propos-texte
{	
	height: 62vh;
	width: 40vw;
	padding: 30px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 5px white;
}

@media only screen and (max-width: 750px) {
	#a-propos-contenu {
		width: 90vw;
	}

	#illustration1 {
		display: none;
	}

	#a-propos-texte {
		width: 100%;
		border-radius: 10px;
	}


}

#footer-mentions
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

